#!/usr/bin/env bash
#Существующий ID проекта в облаке
PROJECT_ID='123123123123123'
#Имя пользователя для подключения к облачному провайдеру
USER_NAME='example@example.com'
#Пароль в открытом виде для подключения к облачному провайдеру
PASSWORD='PlainTextPassword'